<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Books</h1>

      <!-- Form to Add New Todo -->
      <form id="addBookForm" class="my-4">
        <input type="text" id="newJudul" class="form-control mb-2" placeholder="Judul" required />
        <input type="text" id="newPenulis" class="form-control mb-2" placeholder="Penulis" required />
        <input type="text" id="newDeskripsi" class="form-control mb-2" placeholder="Deskripsi" required />
        <button type="submit" class="btn btn-primary">Add Book</button>
      </form>

      <!-- List of Todos -->
      <ul id="bookList" class="list-group">
        <% books.forEach(book=> { %>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <span class="<%= book.judul ? 'judul' : '' %>">
            <%= book.judul %>
            | Penulis: <%= book.penulis%>
          </span>
          <div>
            <button
              class="btn btn-sm btn-success mr-2 editBtn"
              data-id="<%= book.id %>"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-danger deleteBtn"
              data-id="<%= book.id %>"
            >
              Delete
            </button>
          </div>
        </li>
        <% }); %>
      </ul>

      <!-- Edit Todo Modal -->
      <div
        id="editModal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Book</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="editBookForm">
                <div class="form-group">
                  <label for="editBookForm">Judul</label>
                  <input type="text" id="editJudul" class="form-control" required />
                  <label for="editBookForm">Penulis</label>
                  <input type="text" id="editPenulis" class="form-control mt-2" required />
                  <label for="editBookForm">Deskripsi</label>
                  <input type="text" id="editDeskripsi" class="form-control mt-2" required />
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                  Save Changes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap 4 JS + Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        let editId;

        // Add
        $("#addBookForm").on("submit", function (e) {
          e.preventDefault();
          const judul = $("#newJudul").val().trim();
          const penulis = $("#newPenulis").val().trim();
          const deskripsi = $("#newDeskripsi").val().trim();
          if (judul && penulis && deskripsi) {
            $.ajax({
              url: "/book",
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify({ judul, penulis, deskripsi }),
              success: function () {
                location.reload();
              },
              error: function (error) {
                console.error("Error adding book:", error.responseText);
              },
            });
          }
        });

        // Delete
        $(".deleteBtn").on("click", function () {
          const id = $(this).data("id");
          $.ajax({
            url: "/book/" + id,
            type: "DELETE",
            success: function () {
              location.reload();
            },
          });
        });

        // Show edit modal
        $(".editBtn").on("click", function () {
          editId = $(this).data("id");
          const currentJudul = $(this).closest("li").find("span").text();
          $("#editJudul").val(currentJudul);
          const currentPenulis = $(this).closest("li").find("span").text();
          $("editPenulis").val(currentPenulis);
          const currentDeskripsi = $(this).closest("li").find("span").text();
          $("#editDeskripsi").val(currentDeskripsi);
          $("#editModal").modal("show");
        });

        // Update 
        $("#editBookForm").on("submit", function (e) {
          e.preventDefault();
          const judul = $("#editJudul").val().trim();
          const penulis = $("#editPenulis").val().trim();
          const deskripsi = $("#editDeskripsi").val().trim();
          if (judul && penulis && deskripsi) {
            $.ajax({
              url: "/book/" + editId,
              type: "PUT",
              data: JSON.stringify({ judul, penulis, deskripsi }),
              contentType: "application/json",
              success: function () {
                location.reload();
              },
            });
          }
        });
      });
    </script>
  </body>
</html>
